
* {
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 90vw;
    height: 100vh;
}


body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;

}

#celular{
    position: absolute;
    background: url(imagens/frame-iphone.png) no-repeat;

    height: 109vh;
    width: 27.29vw;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe#iphone{
    height: 81.5vh;
    width: 20.7vw;
    position: absolute;
    background-color: white;
    left: 48.5%;
    top: 50%;
    transform: translate(-50%, -50%);

   

}
img#icone{
    position: absolute;
    left: 94%;
    top: 3%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    box-sizing: border-box;

}
img#icone1{
    position: absolute;
    left: 94%;
    top: 19%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    box-sizing: border-box;

}
img#icone2{
    position: absolute;
    left: 94%;
    top: 34%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    box-sizing: border-box;
}
img#icone3{
    position: absolute;
    left: 94%;
    top: 50%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    box-sizing: border-box;
}

section#icones img:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    transition: transform 0.7s,  border 1s;
}

img#icone4 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    left: 94%;
    top: 66%;

}