@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgrey;
}

header{
    background-color: grey;
    height: 100px;
}

header h1 {
    text-align: center;
}

header  li  a {
    text-align: center;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-size: 1.4em;
    width: 100vw;
}

header  li  a:hover{
    text-decoration: underline;
}

header li#first  {
    text-decoration: none;
    color: rgba(10, 10, 10, 0);
    font-size: 1.4em;
    text-align: center;
    background-color: rgb(71, 71, 71);
    width: 100vw;
    margin-top: 20px;
    padding-bottom: 5px;
    
}

header li#first:hover{
    background-color: rgb(255, 255, 255);
  
}

header  li#first a:hover{
   color: black;
}

#res{
    display: none;
}

header nav#res ul li {
    padding: 6px;
    text-align: center;
    background-color: grey;
    width: 100vw;
    color: white;
    border: 1.3px solid rgba(190, 190, 190, 0.623);
    
}


header nav ul li:hover{
    background-color: lightgrey;
}

main article{
    background-color: white;
    width: 72vw;
    margin: auto;
    margin-top: 12px;
    border-radius: 10px;
    padding: 10px 13px 50px 13px;
}


@media (min-width: 950px) {

    main article {
        width: 55.5vw;
    }
    
}

@media (min-width: 750px) {
    header#cabeca {
        margin-bottom: 2vh;
    }

    header nav {
        margin-top: 30px;
    }

    header nav#res ul{
        text-align: center;
    }

    header nav#res ul li {
        display: inline;
        text-align: center;
        background-color: rgb(122, 122, 122);
        padding: 9px;
        color: white;
        border-radius: 3px;
        border: 1.3px solid rgba(190, 190, 190, 0.623);
        margin-right: 16px;
        
       
    }

    #res{
        display: block;
    }

    header li#first {
        display: none;}

    
     
    
}